<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xms.house.mapper.AgencyMapper">
  <resultMap id="BaseResultMap" type="com.xms.house.model.Agency">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="about_us" jdbcType="VARCHAR" property="aboutUs" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="web_site" jdbcType="VARCHAR" property="webSite" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, address, phone, email, about_us, mobile, web_site
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from agency
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from agency
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xms.house.model.Agency">
    insert into agency (id, name, address, 
      phone, email, about_us, 
      mobile, website)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{aboutUs,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{website,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xms.house.model.Agency">
    insert into agency
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="aboutUs != null">
        about_us,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="website != null">
        website,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="aboutUs != null">
        #{aboutUs,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        #{website,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xms.house.model.Agency">
    update agency
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="aboutUs != null">
        about_us = #{aboutUs,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        website = #{website,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xms.house.model.Agency">
    update agency
    set name = #{name,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      about_us = #{aboutUs,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      website = #{website,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
   <select id="select" resultMap="BaseResultMap">
      select <include refid="Base_Column_List"/>
      from   agency
      <where>
         <if test="id != null and id != 0">
             and id = #{id}
         </if>
         <if test="name != null and name !='' ">
             and email = #{email}  
         </if>
      </where>
    </select>
    
    
    
     <sql id="agentField">
      id,
      name,
      phone,
      email,
      aboutme,
      passwd,
      avatar,
      type,
      create_time,
      enable,
      agency_id
   </sql>
    <select id="selectAgent" resultType="com.xms.house.model.User" >
     select * from user
     <where>
       enable = 1 and type = 2
       <if test="user.id != null and user.id != 0">
          and id = #{user.id}
       </if>
       <if test="user.name !=null and user.name != ''">
          and email = #{user.email}
       </if>     
     </where>
     order by id desc
     <if test='pageParams.offset != null and pageParams.limit != null'>
            limit #{pageParams.offset}, #{pageParams.limit}
       </if>
       <if test='pageParams.offset == null and pageParams.limit != null'>
            limit #{pageParams.limit}
       </if>
    </select>
    
    <select id="selectAgentCount" resultType="long">
     select count(id)
     from user
     <where>
       enable =1 and type =2
       <if test ="user.id != null and user.id !=0">
           and id = #{user.id}
       </if>
       <if test="user.name !=null and user.name != ''">
         and email = #{user.email}
       </if>
     </where>
    </select>
   
</mapper>